[submodule "alura_curso_geopandas_02"]
	path = alura_curso_geopandas_02
	url = git@github.com:alura-cursos/curso_geopandas.git
[submodule "tdd_com_python/official_reference_material"]
	path = tdd_com_python/official_reference_material
	url = https://github.com/alura-cursos/testes-python.git
[submodule "python_manipulando_strings/original_repos"]
	path = python_manipulando_strings/original_repos
	url = https://github.com/alura-cursos/manipulacao_strings/
[submodule "python-crie-sua-primeira-aplicacao/original_repos"]
	path = pyoov3/course_01
	url = git@github.com:alura-cursos/curso-python-1.git
[submodule "python-crie-sua-primeira-aplicacao/course_02"]
	path = pyoov3/course_02
	url = git@github.com:alura-cursos/curso-python-2.git
[submodule "pyoov3/course_03"]
	path = pyoov3/course_03
	url = git@github.com:alura-cursos/python-curso03.git
[submodule "python_testes_com_dubles/upstream"]
	path = python_testes_com_dubles/upstream
	url = git@github.com:alura-cursos/dubles-de-testes.git
[submodule "virtual_environments/upstream/course01"]
	path = virtual_environments/upstream/course01
	url = https://github.com/alura-cursos/virtualenv-python.git
[submodule "virtual_environments/upstream/course02"]
	path = virtual_environments/upstream/course02
	url = https://github.com/alura-cursos/curso-ambientes-virtuais-2.git
[submodule "boas_praticas02_4145/upstream"]
	path = best_practices_solid_4145/upstream
	url = git@github.com:alura-cursos/4145-boas-praticas-python-curso02.git
