[submodule "alura_curso_geopandas_02"]
	path = alura_curso_geopandas_02
	url = git@github.com:alura-cursos/curso_geopandas.git
[submodule "tdd_com_python/official_reference_material"]
	path = tdd_com_python/official_reference_material
	url = https://github.com/alura-cursos/testes-python.git
[submodule "python_manipulando_strings/original_repos"]
	path = python_manipulando_strings/original_repos
	url = https://github.com/alura-cursos/manipulacao_strings/
